/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";


nav{
  text-align: center;
  .gr-cnt{
	div.selectors{
	  	background-color: #dedede;
	  	border-bottom: 1px solid #000;
	  	width: 100%;
		a{
			border-right: 1px solid #000;
			box-sizing: border-box;
			cursor: pointer;
			display: inline-block;
			height: 20px;
			margin-bottom: -4px;
			width: 2.25%;
			&:first-child{
				border-left: 1px solid #000;
			}
		}
		a.cur{
			background-color: yellow;
		}
	}
	h4{
		position: absolute;
	}
  }
}

article{
  margin: 0 auto;
  text-align: center;
  width: 95%;
	div{
	  display: inline-block;
	}
	.graphs{ 
		.graph > div{
			-webkit-animation-duration: 0.75s;
			    animation-duration: 0.75s;
			-webkit-animation-fill-mode: both;
			    animation-fill-mode: both;
			-webkit-animation-name: fadeInDown;
			    animation-name: fadeInDown;
		}
		.graph > div.remove{
			-webkit-animation-name: fadeOutUp;
		        animation-name: fadeOutUp;
		}
	}
}


@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}