<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("example_data.tsv", function (data) {
      data = dimple.filterData(data, "Owner", ["Aperture", "Black Mesa"])
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(75, 30, 485, 330);
      myChart.addPctAxis("x", "Unit Sales");
      var y = myChart.addCategoryAxis("y", "Month");
      y.addOrderRule("Date");
      var s = myChart.addSeries("Channel", dimple.plot.area);
      s.interpolation = "step";
      s.lineWeight = 1;
      //left,top,width,height
      myChart.addLegend(60, 10, 500, 20, "right");
      myChart.draw();
    });
  </script>
</div>