<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("example_data.tsv", function (data) {
      data = dimple.filterData(data, "Owner", ["Aperture", "Black Mesa"])
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(90, 30, 320, 330);
      myChart.addPctAxis("x", "Unit Sales");
      var y = myChart.addCategoryAxis("y", ["Owner", "Month"]);
      y.addGroupOrderRule("Date");
      var s = myChart.addSeries("SKU", dimple.plot.area);
      s.interpolation = "step";
      s.lineWeight = 1;
      s.barGap = 0.05;
      myChart.addLegend(430, 20, 100, 300, "left");
      myChart.draw();
    });
  </script>
</div>