<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("example_data.tsv", function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(65, 45, 505, 315)
      myChart.addCategoryAxis("x", ["Price Tier", "Channel"]);
      myChart.addPctAxis("y", "Unit Sales");
      myChart.addSeries("Owner", dimple.plot.bar);
      myChart.addLegend(200, 10, 380, 20, "right");
      myChart.draw();
    });
  </script>
</div>