<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("example_data.tsv", function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(65, 30, 505, 330)
      myChart.addCategoryAxis("x", ["Price Tier", "Channel"]);
      myChart.addMeasureAxis("y", "Unit Sales");
      myChart.addMeasureAxis("z", "Operating Profit");
      myChart.addSeries("Channel", dimple.plot.bubble);
      myChart.addLegend(70, 10, 510, 20, "right");
      myChart.draw();
    });
  </script>
</div>