<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("example_data.tsv", function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(50, 55, 500, 310)
      var x = myChart.addMeasureAxis("x", "Distribution");
      x.overrideMin = 20;
      var y = myChart.addMeasureAxis("y", "Price");
      y.overrideMin = 50
      var s = myChart.addSeries(["Month", "Owner"], dimple.plot.line);
      s.addOrderRule("Date");
      s.aggregate = dimple.aggregateMethod.avg;
      myChart.addLegend(130, 10, 400, 35, "right");
      myChart.draw();
    });
  </script>
</div>