<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("example_data.tsv", function (data) {
      data = dimple.filterData(data, "Owner", ["Aperture", "Black Mesa"])
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(75, 30, 480, 330)
      myChart.addMeasureAxis("x", "Unit Sales");
      var y = myChart.addCategoryAxis("y", "Month");
      y.addOrderRule("Date");
      myChart.addSeries("Channel", dimple.plot.line);
      myChart.addLegend(60, 10, 500, 20, "right");
      myChart.draw();
    });
  </script>
</div>