<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
      d3.tsv("example_data.tsv", function (data) {
        data = dimple.filterData(data, "Date", "01/12/2012");
        var myChart = new dimple.chart(svg, data);
        myChart.setBounds(60, 30, 500, 330)
        myChart.addMeasureAxis("x", "Unit Sales Monthly Change");
        myChart.addMeasureAxis("y", "Price Monthly Change");
        myChart.addMeasureAxis("p", "Operating Profit");
        var rings = myChart.addSeries(["Owner", "Channel"], dimple.plot.pie);
        rings.innerRadius = 20;
        rings.outerRadius = 25;
        myChart.addLegend(200, 10, 360, 20, "right");
        myChart.draw();
      });
  </script>
</div>
