<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("example_data.tsv", function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(20, 20, 460, 360)
      myChart.addMeasureAxis("p", "Unit Sales");
      var outerRing = myChart.addSeries("Channel", dimple.plot.pie);
      var innerRing = myChart.addSeries("Price Tier", dimple.plot.pie);
      // Negatives are calculated from outside edge, positives from center
      outerRing.innerRadius = "-30px";
      innerRing.outerRadius = "-40px";
      innerRing.innerRadius = "-70px";
      myChart.addLegend(500, 20, 90, 300, "left");
      myChart.draw();
    });
  </script>
</div>