<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("example_data.tsv", function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(95, 25, 475, 335)
      myChart.addCategoryAxis("x", "Price Tier");
      myChart.addCategoryAxis("y", "Pack Size");
      myChart.addMeasureAxis("p", "Unit Sales");
      var rings = myChart.addSeries("Channel", dimple.plot.pie);
      rings.innerRadius = 15;
      rings.outerRadius = 25;
      myChart.addLegend(240, 10, 330, 20, "right");
      myChart.draw();
    });
  </script>
</div>