<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("example_data.tsv", function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(65, 50, 505, 310)
      myChart.addCategoryAxis("x", ["Price Tier", "Channel"]);
      myChart.addMeasureAxis("y", "Unit Sales");
      myChart.addMeasureAxis("p", "Unit Sales");
      var rings = myChart.addSeries("Pack Size", dimple.plot.pie);
      rings.innerRadius = 20;
      rings.outerRadius = 30;
      myChart.addLegend(170, 10, 410, 20, "right");
      myChart.draw();
    });
  </script>
</div>