<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("example_data.tsv", function (data) {
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(90, 35, 480, 325)
      myChart.addCategoryAxis("x", ["Channel", "Price Tier"]);
      myChart.addCategoryAxis("y", "Owner");
      myChart.addSeries("Price Tier", dimple.plot.bubble);
      myChart.addLegend(240, 10, 330, 20, "right");
      myChart.draw();
    });
  </script>
</div>