<div id="chartContainer">
  
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);
    d3.tsv("example_data.tsv", function (data) {
      data = dimple.filterData(data, "Owner", ["Aperture", "Black Mesa"])
      var myChart = new dimple.chart(svg, data);
      myChart.setBounds(75, 30, 485, 330);
      myChart.addMeasureAxis("x", "Unit Sales");
      var y = myChart.addCategoryAxis("y", "Month");
      y.addOrderRule("Date");
      var s = myChart.addSeries(null, dimple.plot.line);
      s.interpolation = "step";
      myChart.draw();
    });
  </script>
</div>